services:
  prism-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      network: host
      args:
        INSTALL_ROS2: "false"
        HOST_UID: 1000
        HOST_GID: 1000
    image: kirillmouraviev/prism-topomap:cuda12.1
    command: bash
    network_mode: host
    ipc: host
    # privileged: true

  prism-dev-ros1:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
      network: host
      args:
        INSTALL_ROS1: "true"
        HOST_UID: 1000
        HOST_GID: 1000
    image: kirillmouraviev/prism-topomap:cuda12.1-ros-noetic
    command: bash
    network_mode: host
    ipc: host
    # privileged: true
